:root {
    --fuenteHeading: 'inter', sans-serif;
    --blanco: #ffffff;
    --negro: #000000;
}

#chatbot-text, #livy-text, #BDY-text {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: var(--blanco);
}

#BDY-text {
    font-weight: 100;
    font-size: 40px;
    margin-left: 2rem; 
}
#chatlivy{
    display: flex; 
    flex-direction: row; 
    align-items: end; 
    align-self: flex-end;
    margin-left: 45rem; 
}
#livy-text {
    font-weight: 900;
    font-size: 100px;
    margin-left: 0; /* Establece el margen izquierdo en 0 */
    margin-right: 0; /* Centra el elemento a la derecha */
}

#chatbot-text {
    font-size: 30px;
    margin-top: 5rem;
    margin-left: 0; /* Establece el margen izquierdo en 0 */
    margin-right: 0; /* Centra el elemento a la derecha */
}
